
.facebook-icon
	&:before
		font-family: font-icon
		content: "\f082"

.trello-icon
	&:before
		font-family: font-icon
		content: "\f181"

#footer
	.social-links
		.nav-icon
			font-size: 42px;
		a
			text-decoration: none;