
<div class="widget-wrap">
	<h3 class="widget-title">Donate</h3>
	<div class="widget">
		<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=NFQYFNJY8QSW2" target="_blank">Buy me a beer</a>
	</div>
</div>
